.edit-content__heading {
  margin-top: 34px;
  margin-left: 36px;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0;

  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 900;

  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 500px) {
  .edit-content__heading {
    margin-left: 22px;
    margin-top: 25px;

    font-size: 18px;
    line-height: 22px;
  }
}
