.button {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0;

  border: 0;

  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 400;

  cursor: pointer;
}

.button:hover {
  opacity: 60%;
}
