.form__button {
  font-size: 18px;
  line-height: 22px;

  width: 358px;
  height: 50px;
  background-color: rgba(1, 0, 0, 1);
  color: white;
}

@media screen and (max-width: 500px) {
  .form__button {
    width: 238px;
    height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .form__button {
    font-size: 14px;
    line-height: 17px;
  }
}
.form__button:hover {
  opacity: 1;
  background-color: rgba(1, 0, 0, 0.5);
}
