
напомните пож, сегодня на webinar обсуждали мой вопрос
вот так же верно?
кто как сделал?
или просто не выносить button в отдельный блок?

.button
/* всего 4 типа кнопок: */
/* edit button */
/* add button */
/* close button */
/* like button */

.button_type_edit модификатор
.button_type_add модификатор
.button_type_close модификатор
.button_type_like модификатор

пример:
.button  button_type_add profile__button-add микс - задаем ТОЛЬКО внешную геометрию




```
.button {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0;
  border: 0;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  cursor: pointer;

  width: 150px;
  height: 50px;

  background-color: transparent;
  background-image: url("./../../../images/plus_1280.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  border: 2px solid white;
  border-radius: 5px;
}

.button:hover {
  opacity: 60%;
}



.profile__button-add {
  margin-left: auto; /* прижать элемент к правому краю */ 
} 
```

