.popup__content {
  background-color: white;
  color: black;
  min-width: 430px;
  min-height: 330px;

  display: flex;
  flex-direction: column;

  border-radius: 10px;

  position: relative;
  outline: 1px solid red;
}

@media screen and (max-width: 500px) {
  .popup__content {
    min-width: 282px;
    min-height: 333px;
    border-radius: 25px;
  }
}
