.footer__copyright {
  margin-top: 67px;
  margin-left: 0;
  margin-bottom: 60px;
  margin-right: 0;
  padding: 0;

  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 400;

  font-size: 18px;
  line-height: 22px;
  color: #545454;
  justify-self: left;

  margin-right: auto;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin-top: 48px;
    margin-bottom: 36px;

    font-size: 14px;
    line-height: 17px;
  }
}
