.header__logo {
  margin-top: 50px;
  margin-left: 0;
  margin-bottom: 35px;
  margin-right: 0;
  padding: 0;

  width: 142px;
  height: 33px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin-top: 30px;
    margin-bottom: 32px;
    margin-left: 27px;

    width: 103px;
    height: 24px;
  }
}
