.header {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0;

  width: calc((880 / 1280) * 100%);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 320px) {
  .header {
    margin-top: 0;
    width: calc((320 / 320) * 100%);
  }
}
