.profile__add {
  margin-top: 0;
  margin-left: auto; /* прижать элемент к правому краю */
  margin-bottom: 0;
  margin-right: 0;

  width: 150px;
  height: 50px;
  border: 1px solid white;

  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .profile__add {
    margin-left: 0;
    width: 282px;
    height: 50px;
  }
}

.profile__add:hover {
  opacity: 60%;
}
