.form__input-container {
  /* reset default settings */
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  /* reset default settings */

  display: flex;
  flex-direction: column;

  width: calc((358 / 430) * 100%);
}
