.popup__close {
  margin: 0;
  padding: 0;

  position: absolute;
  top: -40px; /* 8px in firma + 32px element inself */
  right: -40px; /* 8px in firma + 32px element inself */

  display: block;
  width: 32px;
  height: 32px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path fill="%23FFFFFF" d="M32 28.8L19.2 16L32 3.2L28.8 0L16 12.8L3.2 0L0 3.2L12.8 16L0 28.8L3.2 32L16 19.2L28.8 32L32 28.8Z"/></svg>');
}

.popup__close:hover {
  opacity: 60%;
}

@media screen and (max-width: 550px) {
  .popup__close {
    top: -36px; /* 16px in firma + 20px element inself */
    right: 0; /* 8px in firma + 32px element inself */
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 18L12 10L20 2L18 0L10 8L2 0L0 2L8 10L0 18L2 20L10 12L18 20L20 18Z" fill="white"/></svg>');
  }
}
